*{
    margin: 0;
    padding: 0;
}
.concept-1{
    margin: -5px;
    height: 700px;
    background-color: lightgrey;
}
.nav-logo{
    width: 700px;
    height: 100px;
    background-color: aqua;
    border-radius: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
.logo-l0{
    padding-top: 5px;
    text-align: center;
}
.logo-l1{
    
    text-align: center;
}
.logo-l2{
    text-align: center;
}
.nav-bar ul{
    margin-top: -76px;
    margin-left: 779px;
    padding: 10px; 
    font-family: rockwell; 
}
.nav-bar li{
    display: inline-block;
    list-style: none;
    margin-left: 70px;
    
}
li{
    display: inline block;
    color: black;
}
.content-area{
    height: 400px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 90px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffff2fff;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
p{
    padding: 10px;
    padding-top: 60px;
    font-size: x-large;
    font-family: times Georgia;

}
.concept{
    background-color: cornsilk;
    border-radius: 20px;
}

.content-area2{
    
    margin-top: 20px;
    
}
.content1 li{
    padding-left: 70px;
    text-decoration: none;
}
.heading{
   padding: 10px;
   text-align: center;
    font-size: xx-large;
     color: #6d019b;
}
.content-area2 ul li{
    margin-bottom: 10px;
    font-size: large;
    list-style-type:disc;
}
.concept-2{
    background-color: chocolate;
    margin-top: 25px;
   
}
.content-area3{
    text-align: center;
   background-color: aqua;
    height: 240px;
    border-radius: 25px;
}
.lis1 li{
    display: inline-block;
    list-style: none;
    font-family: tahoma, geneva, verdana;
    border-style: solid;
    border-radius: 20px;
    width: 252px; 
    height: 45px;
    font-size: 35px;
    margin-left: 77px;
    margin-top: 10px;
   
}
.lis2 li{
    display: inline-block;
    list-style: none;
    font-family: tahoma, geneva, verdana;
    border-style: solid;
    border-radius: 20px;
    width: 252px; 
    height: 45px;
    font-size: 35px;
    margin-left: 77px;
    margin-top: 10px;
}
.lis3 li{
     display: inline-block;
    list-style: none;
    font-family: tahoma, geneva, verdana;
    border-style: solid;
    border-radius: 20px;
    width: 252px; 
    height: 45px;
    font-size: 35px;
    margin-left: 77px;
    margin-top: 10px;
}
.lis4 li{
    display: inline-block;
    list-style: none;
    font-family: tahoma, geneva, verdana;
    border-style: solid;
    border-radius: 20px;
    width: 252px; 
    height: 45px;
    font-size: 35px;
    margin-left: 77px;
    margin-top: 10px;
}
