*{
    padding: 0;
    margin: 0;
}
nav{
    padding: 20px;
    background-color:lawngreen;
}
nav li{
    display: inline-block;
    margin: 10px;
    margin-left: 29px;
    text-align: right;
    font-family: times new roman, times, serif;
    font-size: larger;
}
.MyCourses{
    align-content: center; 
    width: 90%;
    
}
.co{
   
    height: 300px;
    width:250px;
    margin: 74px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
.mo{
    background-color: white;
    height: 150;
    width: 250;
    object-fit: cover;
}
.mo1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a{
    text-decoration-line: none;
    color: black;
}