*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #0093E9;
    background-image: conic-gradient(Red, orange, yellow, green, blue, indigo, violet);
    font-family: 'Flamenco', cursive;
    font-weight: bolder;
    justify-content: space-evenly;
   /* background: rgb(219, 218, 218);*/
    
}
.container{
    background-color: #0093E9;
    background-image: linear-gradient(-100deg, #0093E9 1%, #80D0C7 100%);
    height: 500px;
    width: 400px;
    right: 100px;
    left: 50%;
    bottom: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 0px;
    box-shadow: 2px 4px 9px 2px black;
    
}
.container .sign{
    
    top: 20px;
    left: 70px;
    position: absolute;
}
form.sign-in-form {
    margin: 10px;
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 50px;
  text-align: center
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;    
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.9s;
  align-content: center;  
}

.btn:hover {
    color: #000;
  background-image: conic-gradient(Red, orange, yellow, green, blue, indigo, violet);/*#0A7DD8*/;
}
.btne{
    font-size: 20px;
   text-align: center; 
   margin: 50px;
    top: 10px;
    text-decoration: none;
    color: #000;
}
a{
   margin-top: 20px;
}
